<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>商品列表</h1>

    <a href="https://image.baidu.com/search/index?tn=baiduimage&ps=1&ct=201326592&lm=-1&cl=2&nc=1&ie=utf-8&dyTabStr=MCwzLDYsNCw1LDcsOCwxLDIsOQ%3D%3D&word=iu" target="_blank">
         <img src="/static/iu.jpg">
    </a>
    <ul>
        <li>中国联通</li>
        <li>中国移动</li>
        <li>中国电信</li>
    </ul>
    <ol>
        <li>中国联通</li>
        <li>中国移动</li>
        <li>中国电信</li>
    </ol>

    <h1>表格数据</h1>
    <table border="1">
        <thead>
            <tr> <td>ID</td> <td>姓名</td> <td>年龄</td> </tr>
        </thead>
        <tbody>
            <tr> <td>10</td> <td>wqq</td> <td>19</td> </tr>
            <tr> <td>11</td> <td>wdc</td> <td>19</td> </tr>
            <tr> <td>12</td> <td>feb</td> <td>19</td> </tr>
            <tr> <td>13</td> <td>miki</td> <td>19</td> </tr>
            <tr> <td>14</td> <td>zxc</td> <td>19</td> </tr>
        </tbody>
    </table>

</body>
</html>